.column {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    border: white 2px solid;
    height: 40px;
    background-color: #000;
    color: #fff;
    box-shadow: inset 2px 2px 5px 1px grey;
  }

.column_two {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 83px;
    border: white 2px solid;
    height: 40px;
    background-color: #000;
    color: #fff;
    box-shadow: inset 2px 2px 5px 1px grey;
  }

  .row {
    display: flex;
  }

  .display{
    display: flex;
    height: 50px;
    width: 172px;
    border:1px solid #000;
  }

  .operacion{
    text-size-adjust: 8px;
  }